<md-dialog aria-label="Change Password">
  <form name="vm.changePasswordForm" ng-submit="vm.changePasswordForm.$valid && vm.submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout="row" layout-margin>
        <md-input-container class="md-block">
          <label>Password</label>
          <input name="password" type="password" ng-model="vm.password" required md-autofocus>
          <div ng-messages="vm.changePasswordForm.password.$error">
            <div ng-message="required">Password is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input name="passwordConfirmation" type="password" ng-model="vm.passwordConfirmation" match="vm.password">
          <div ng-messages="vm.changePasswordForm.passwordConfirmation.$error">
            <div ng-message="match">Passwords do not match.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click="vm.cancel()">Cancel</md-button> 
      <md-button type="submit" class="md-primary md-raised" ng-disabled="!vm.changePasswordForm.$valid">Update password</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>  