<md-virtual-repeat-container dynamic-height flex>
  <div md-virtual-repeat="search in history.searches | orderBy:createdAt:true" flex>
    <div layout="row" flex>
      <div layout="column" layout-margin layout-align="center center">
        <md-button ui-sref="main.search({ criteria: search.criteria })" class="md-primary md-raised">Search Again</md-button>
      </div>
      <div layout="column" layout-margin flex>
        <p>Search for:</p>        
        <md-chips ng-model="search.criteria" readonly=true flex></md-chips>
        <p ng-show="search.count === undefined">Performed on {{history.prettify(search.createdAt)}}.</p>
        <p ng-hide="search.count === undefined">Found {{search.count.toLocaleString()}} result(s) at {{history.prettify(search.createdAt)}}.</p>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
</md-virtual-repeat-container>