<form name="vm.searchForm" novalidate layout="column" flex>
  <div layout="column">
    <div layout="row">
      <md-menu-bar>
        <md-menu ng-repeat="menu in search.menus">
          <button ng-click="$mdOpenMenu()">{{menu.name}}</button>
          <md-menu-content>
            <md-menu-item ng-repeat="item in menu.items">
              <md-button id="{{item.id}}" ng-click="item.action()">{{item.name}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>
    <div layout="row" layout-margin>
      <md-chips ng-model="search.criteria" flex placeholder="Add search criteria" secondary-placeholder="Add more search criteria" md-on-add="search.createNewSearch()" md-on-remove="search.createNewSearch()">
      </md-chips>
    </div>
    <div layout="row" layout-margin layout-padding ng-show="search.status">
      {{search.status}}
    </div>
  </div>
  <md-divider></md-divider>
  <div flex id="results">
    <md-virtual-repeat-container dynamic-height>
      <div md-virtual-repeat="result in search.results" md-on-demand ng-click="search.showResult(result)">
        <div layout="row" layout-align="start center" layout-margin layout-padding>
          <p ng-bind="result.entry" ellipsis style="height: 35px"></p>
        </div>
        <md-divider ng-if="result"></md-divider>
      </div>
    </md-virtual-repeat-container>
  </div>
</form>